<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="css/style.css" style="">
</head>
<body>
  <div id="view">
    
  </div>

  <div style="display: none" class="pop-wrapper" id="pop">
    <div class="cover"></div>
    <div class="pop-container">
      <div class="pop-template">
        <span class="pop-close">×</span>
        <h3><%=title%></h3>
        <div class="pop-content">
          <%=content%>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="inner">
      
    </div>

  </div>

  <script type="text/template" id="viewTpl">
    <h3><%=title%></h3>
    <ul>
    <% _.each(list, function(item) { %>
      <li><%=item.name%></li>
    <% }) %>
    <button id="btn">显示弹窗</button>
    <button id="btn2">按钮2</button>
    </ul>
  </script>
</body>
<!-- <script src="js/jquery.min.js"></script> -->
<script src="js/xl-mvc.js"></script>
<script src="js/promise.js"></script>
<script>
  var model = XM.create({
    url: 'https://api.myjson.com/bins/13rplu',
    params: {
      type: 'carton'
    },
    watch: {
      title: function(newVal, oldVal) {
        console.log(newVal)
      }
    },
    data: {
      title: ''
    },
    beforeFetchData: function() {
      console.log("model:beforeFetchData")
    },
    afterReady: function() {
      console.log("model:afterReady")
    },
    listeners: {

    }
  })

  var view = XV.create({
    $model: model,
    $el: "#view",
    template: document.getElementById("viewTpl").innerHTML,
    autoRender: true,
    events: {
      "click #btn": "handleClick"
    },
    beforeCreate: function() {
      console.log("view:beforeCreate")
    },
    created: function() {
      console.log("view:created")
    },
    beforeRender: function() {
      console.log("view:beforeRender")
    },
    rendered: function() {
      console.log("view:rendered")
    },
    methods: {
      handleClick: function() {
        modal.show();
      }
    }
  })

  model.set("title", "动漫主角", true);
  model.set({
    title: '动漫配角'
  })

  var popModel = XM.create({
    data: {
      title: "标题1",
      content: "内容"
    }
  });
  var modal = new XL.Modal({
    $model: popModel,
    id: "pop",
    closeBtn: ".pop-close"
  })
 
</script>
</html>